@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    background-color: #2f5a8d;
  }
  
  }
